.social-links {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    gap: 20px;
}

.social-links a {
    flex-grow: 1;
    display: flex;
    align-items: left;
    text-decoration: none;
    color: #dbdbdb; 
}

.social-links img {
    margin-right: 8px; 
}

div {
    margin-bottom: 10px; /* Adjust this value to increase or decrease space between items */
}

.social-links span {
    font-size: 16px; 
}

.social-links a:hover {
    opacity: 0.8;
}

p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
}

p.no-top-margin {
  margin-top: 0;
}

.container {
    overflow: hidden; 
}

.photo {
    float: left;
    margin-right: 20px; 
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
}

.photo img {
    max-width: 100%; 
    height: auto;
}
