.social-links {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.social-links a {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: #dbdbdb; 
}

.social-links img {
    margin-right: 8px; 
}

.social-links span {
    font-size: 16px; 
}

.social-links a:hover {
    opacity: 0.8;
}

.container {
    overflow: hidden; /* Clearfix */
}

.photo {
    float: left;
    margin-right: 20px; /* Adjust as needed for space between image and text */
    margin-bottom: 10px; /* Adjust as needed for space below the image */
}

.main-content {
    overflow: hidden; /* Prevents content from wrapping below the floated image */
}

.photo img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
}
