.social-links {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.social-links a {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: #dbdbdb; 
}

.social-links img {
    margin-right: 8px; 
}

.social-links span {
    font-size: 16px; 
}

.social-links a:hover {
    opacity: 0.8;
}

.container {
    overflow: hidden; 
}

.photo {
    float: left;
    margin-right: 20px; 
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
}

.photo img {
    max-width: 100%; 
    height: auto;
}
